.root {
  
    -fx-background-image: url("/com/devmatheusguedes/game/app/images/menu-pricipal.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-font-size: 16px;
}
.pane-fundo {
        background-image: url("/com/devmatheusguedes/game/app/images/menu-pricipal.png");
        -fx-background-image: url("/com/devmatheusguedes/game/app/images/menu-pricipal.png");
        -fx-background-size: cover;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
}

.titulo-jogo {
    -fx-font-size: 48px;
    -fx-text-fill: #ffffff;
    -fx-font-weigth: bold;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 5, 0.5, 2, 2);
}

.botao-menu {
-fx-background-color: #3498db;
-fx-text-fill: white;
-fx-font-size: 18px;
-fx-font-weigth: bold;
-fx-background-radius: 10;
-fx-pref-width: 200;
-fx-pref-heigth: 40;
-fx-effect: dropshadow(gaussian, black, 3, 0.3, 1, 1);
}
.menu-posicionar-barcos{
    -fx-hgap: 0.5em; /* Espaçamento horizontal entre colunas */
    -fx-vgap: 0.5em; /* Espaçamento vertical entre linhas */
    -fx-background-color: #2c3e50; /* Azul escuro que combina com o menu */
    -fx-padding: 10px;
    -fx-background-radius: 10;
}

.botao-menu-posicionar-barcos {
-fx-background-color: #3498db;
-fx-text-fill: white;
-fx-font-size: 18px;
-fx-font-weigth: bold;
-fx-background-radius: 10;
-fx-pref-width: 100;
-fx-pref-heigth: 40;
-fx-effect: dropshadow(gaussian, black, 3, 0.3, 1, 1);
}
.image__barcos__left{
    -fx-fit-width: 6em;
    -fx-fit-heigth: 3em;
}
.tabuleiro {
    -fx-background-color: linear-gradient(to bottom, #1e3c72, #2a5298);
    -fx-border-color: #0a1931;
    -fx-border-width: 3px;
}

.cor__grid__pane{
    -fx-background-color: #3498db;
}
.botao-menu:hover {
-fx-background-color: #2980b9;
-fx-scale-x: 1.03;
}